*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: sans-serif;
  line-height: 1.7;
  padding: 0;
  margin: 0;
  color: #02163B;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.heading-2 {
  color: #0F3FFF;
  font-size: 2.5rem;
  font-weight: normal;
  margin-bottom: 3rem;
}

.hero {
  width: 100vw;
}

.hero img {
  max-width: 100%;
}

.link {
  color: #fff;
  background-color: #0F3FFF;
  padding: .2em .4em;
  border-radius: 10px;
}

.nav {
  background-color: #0F3FFF;
  color: #fff;
}

.nav .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-upper {
  padding-top: 1em;
}

.nav-upper .container {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.nav-upper .en {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nav-upper .en img {
  width: 2em;
}

.nav-upper-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.1rem;
  font-weight: 200;
  position: relative;
  margin-right: 2em;
  text-align: center;
}

.nav-upper-block img {
  display: inline-block;
  margin-right: .5em;
  margin-bottom: -.2em;
}

.nav-upper-block::after {
  content: "";
  position: absolute;
  right: -1em;
  top: 0;
  width: 1.8px;
  height: 100%;
  background-color: #fff;
}

.nav-upper-block:nth-child(3) {
  margin-right: 0em;
}

.nav-upper-block:nth-child(3)::after {
  content: "";
  position: absolute;
  right: 1em;
  top: 0;
  width: 0px;
  height: 2em;
  background-color: #fff;
}

.nav-mid {
  margin-top: 1em;
  margin-bottom: 1em;
}

.nav-mid .cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-mid .cart-item-total {
  -webkit-box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.2);
  margin-bottom: 1em;
  margin-left: -.2em;
  font-size: .8rem;
  color: #0F3FFF;
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  justify-items: center;
  background-color: #fff;
}

.nav-mid .container {
  width: 65%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav-mid-info {
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav-mid-info img {
  width: 1.3em;
}

.nav-mid-info a {
  color: #fff;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nav-mid-info a p {
  font-size: 1.3rem;
}

.nav-mid-logo img {
  width: 8em;
}

.nav-mid-search {
  width: 80%;
  margin-left: 2em;
  margin-right: 2em;
}

.nav-mid-search-item {
  width: 25em;
  padding: .5em 1em;
  border-radius: 5px;
  border: none;
  -webkit-box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
}

.nav .btn-search {
  background-color: #001B5B;
  border-radius: 5px;
  color: #fff;
  padding: .2em 1em;
  margin-left: -1em;
  border: none;
  -webkit-box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
  font-size: 1.2rem;
  font-weight: 200;
  cursor: pointer;
}

.nav-down {
  padding-bottom: 1em;
  margin-top: 2em;
  position: relative;
}

.nav-down::after {
  position: absolute;
  content: "";
  width: 90%;
  left: 5%;
  height: 1px;
  background-color: #fff;
  top: -1em;
}

.nav-down .container {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-down-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 70%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.nav-down-list button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.nav-down-list-item {
  color: #fff;
  font-size: 1rem;
  font-weight: 200;
  margin-right: 1em;
  -webkit-transition: all .6s;
  transition: all .6s;
  padding: .5em .5em;
  border-radius: 10px;
}

.nav-down-list-item:hover {
  color: #001B5B;
  background-color: #fff;
  -webkit-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
}

.nav-down-list-item:active {
  color: red;
}

.nav-down-list-item:focus {
  color: #0F3FFF;
  background-color: #fff;
  -webkit-box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.2);
}

.nav-down-phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-down-phone img {
  margin-right: 1em;
}

.nav-down-phone span {
  display: inline-block;
}

.mobile-nav {
  display: none;
}

.popAds {
  margin-top: 4em;
  margin-bottom: 4em;
}

.popAds .container {
  text-align: center;
  width: 80%;
}

.popAds-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 2em;
}

.popAds-grid img {
  width: 50%;
  border-radius: 15px;
}

.popAds-grid-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  border: 1px solid #001B5B;
  border-radius: 19px;
}

.popAds-grid-block figcaption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: .5em;
  padding-bottom: .5em;
  width: 50%;
}

.popAds-grid-block figcaption img {
  width: 1em;
}

.popAds-grid-block figcaption span {
  font-size: 1.5rem;
}

.popAds-grid-block figcaption p {
  font-size: .8rem;
}

.popAds-grid-block-info {
  width: 100%;
  margin-top: .5em;
  margin-bottom: .5em;
  padding: .5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.popAds-grid-block-info .price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: .5em;
}

.popAds-grid-block-info .price p {
  font-size: 1rem;
  font-weight: 100;
  font-weight: bold;
}

.popAds-grid-block-info .rate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: .5em;
}

.popAds-grid-block-info .rate img {
  width: .8em;
  margin-right: .2em;
  margin-bottom: .2em;
}

.popAds-grid-block-info .rate p {
  font-size: 1rem;
  font-weight: 100;
  font-weight: bold;
}

.auction {
  width: 100vw;
  margin-top: 4em;
  margin-bottom: 4em;
  text-align: center;
}

.auction .container {
  width: 65%;
}

.auction-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 2em;
}

.auction-grid-block {
  border: 1px solid #001B5B;
  text-align: center;
  border-radius: 26px;
}

.auction-grid-block-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  margin-left: .4em;
}

.auction-grid-block-title {
  font-size: 1.3rem;
}

.auction-grid-block-desc {
  font-size: 1rem;
  color: #607d8b;
}

.auction img {
  width: 100%;
}

.auction .link {
  font-size: 1rem;
  padding: .5em 1em;
  margin-top: .5em;
  display: inline-block;
  -webkit-box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.2);
}

.auction .link:nth-child(2) {
  margin-right: 0;
}

.auction .edit {
  background-color: #177F75;
}

.delete {
  background-color: #B6212D;
  color: #fff;
  border-radius: 10px;
  font-size: 1rem;
  padding: .7em 1em;
  margin-top: .5em;
  display: inline-block;
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
}

.product {
  margin-top: 4em;
  margin-bottom: 4em;
}

.product-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.product-info-img {
  height: 25%;
  width: 40%;
}

.product-info figcaption {
  margin-left: 3.5em;
}

.product-info-name {
  font-size: 3rem;
}

.product-info-action {
  margin-top: 1em;
  margin-bottom: 1em;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.product-info-action .price {
  font-size: 1.3rem;
}

.product .shop-add {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #0F3FFF;
  border: none;
  padding: 0.8em 1em;
  color: #fff;
  border-radius: 10px;
}

.product .shop-add img {
  margin-left: 0.5em;
}

.last {
  margin-bottom: 6em;
  margin-top: 6em;
}

.last .container {
  background-color: rgba(112, 112, 112, 0.1);
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 2em;
  padding-bottom: 2em;
  width: 80%;
}

.last-title {
  width: 23%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  position: relative;
}

.last-title::after {
  position: absolute;
  content: "";
  width: 2px;
  height: 100%;
  background-color: #001B5B;
  right: 0;
}

.last-title img {
  width: 4em;
  margin-bottom: 2em;
}

.last-title span {
  font-size: 2rem;
  font-weight: normal;
  display: block;
}

.last-title-text {
  font-size: 2rem;
  margin-bottom: 1.5em;
}

.last-title p {
  font-size: 1.3rem;
  font-weight: 200;
}

.last-grid {
  width: 77%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  grid-gap: 2px;
  background-color: #001B5B;
}

.last-grid-block {
  background-color: #f0f0f0;
  padding: 1em;
}

.last-grid-block img {
  width: 80%;
}

.last-grid-block-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.last-grid-block-info img {
  width: 1em;
}

.last-grid-block-info .price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.last-grid-block-info .price img {
  margin-bottom: .2em;
  margin-right: .3em;
}

.last-grid-block-info .price p {
  font-size: 1rem;
  font-weight: 100;
}

.last-grid-block-info .rate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.last-grid-block-info .rate img {
  margin-bottom: .2em;
  margin-right: .3em;
}

.last-grid-block-info .rate p {
  font-size: 1rem;
  font-weight: 100;
}

.last-grid-block-location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.last-grid-block-location img {
  width: 1rem;
  margin-bottom: .2em;
  margin-right: .3em;
}

.ex2 {
  height: 40px;
  width: 40px;
  background-color: #0F3FFF;
  border-radius: 5px;
  position: relative;
  cursor: pointer;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.ex2:after {
  position: absolute;
  top: 0;
  bottom: 0.1em;
  left: 0;
  right: 0;
  content: '\d7';
  font-size: 50px;
  color: #FFF;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  justify-items: center;
}

.ex2:hover {
  background-color: #000;
}

.wrapper {
  position: absolute !important;
  z-index: 2222222222222222 !important;
  top: 26vh;
  left: 0;
  padding: 3em;
  background-color: rgba(0, 0, 0, 0.9);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100vw;
  height: 100vh;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.wrapper .category-product {
  overflow-y: auto;
  -webkit-box-shadow: 1px 2px 15px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 2px 15px rgba(0, 0, 0, 0.2);
  width: 80%;
  background-color: #fff;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 2em;
  padding: 2em;
  padding-bottom: 4em;
}

.wrapper .category-product-item {
  margin-right: 1em;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wrapper .category-product-item-img img {
  height: 80%;
  width: 100%;
}

.wrapper .category-product-item-info {
  position: absolute;
  height: 30%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  left: 0;
  color: #fff;
  padding-bottom: 1em;
  bottom: 2em;
}

.wrapper .category-product-item-info-link {
  display: block;
  color: #fff;
  padding: .3em 2em;
  background-color: #0F3FFF;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.wrapper .category-product-item-info-link:hover {
  background-color: #fff;
  color: #0F3FFF;
}

.wrapper .category-product-item-info-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.wrapper .category-product-item-info-price span {
  font-size: 1.2rem;
}

.hidden {
  width: 0;
  height: 0;
}

.category {
  position: relative;
  height: 2em;
}

.category-wrapper .wrapper {
  top: 7vh;
}

.category-list {
  opacity: 0;
  width: 0;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.category:hover .category-list {
  opacity: 1;
  -webkit-transition: all .5s;
  transition: all .5s;
  padding-top: 1em;
  width: 10em;
  position: absolute;
  z-index: 22222;
  top: 1.5em;
  left: 0em;
  background-color: #0F3FFF;
  -webkit-box-shadow: 1px 0px 30px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 0px 30px rgba(0, 0, 0, 0.2);
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.category:hover .category-list-item {
  position: relative;
  font-size: 1rem;
  text-transform: capitalize;
  margin-bottom: 1em;
  display: block;
  cursor: pointer;
  width: 6.9em;
  height: 2em;
  text-align: center;
  -webkit-transition: all .5s;
  transition: all .5s;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  align-items: center;
  justify-items: center;
}

.category:hover .category-list-item:hover {
  background-color: #fff;
  color: #0F3FFF;
}

.category-title {
  display: inline-block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 2222222222;
  margin-top: .2em;
  font-size: 1rem;
  font-weight: 200;
  margin-right: 1em;
}

@media screen and (max-width: 600px) {
  .last-grid {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    width: 100%;
    padding-bottom: .3em;
  }
  .last .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 80vh;
  }
  .last-title {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    position: relative;
  }
  .last-title::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 2px;
    bottom: 0;
    background-color: #001B5B;
    right: 0;
  }
  .last-title img {
    width: 4em;
    margin-bottom: .5em;
  }
  .last-title span {
    font-size: 2rem;
    font-weight: normal;
    display: inline;
  }
  .last-title-text {
    font-size: 2rem;
    margin-bottom: 0em;
  }
  .last-title p {
    font-size: 1.3rem;
    font-weight: 200;
  }
}

.footer {
  background-color: #0F3FFF;
  padding-top: 3em;
  padding-bottom: 3em;
  margin-top: 4em;
}

.footer .footer-title {
  font-size: 3rem;
  color: #fff;
  font-weight: 200;
}

.footer img {
  width: 8em;
}

.footer .container {
  width: 80%;
}

.footer-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-content-category-list-item {
  margin-bottom: 1em;
}

.footer-content-category-list a {
  color: #fff;
  font-size: 1.2rem;
  font-weight: 200;
  margin-right: 1em;
}

.footer-content-category {
  position: relative;
}

.footer-content-category::after {
  position: absolute;
  content: "";
  height: 100%;
  width: 2px;
  background-color: #fff;
  right: -25%;
  top: 0;
}

.footer-content-category::before {
  position: absolute;
  content: "";
  height: 100%;
  width: 2px;
  background-color: #fff;
  right: -175%;
  top: 0;
}

.footer-content-leagel a {
  color: #fff;
  font-size: 1.2rem;
  font-weight: 200;
  margin-right: 1em;
  margin-bottom: 1em;
}

.footer-content-form input {
  width: 100%;
  padding: .5em;
  margin-bottom: 1em;
  font-size: 1rem;
  border-radius: 5px;
  border: none;
}

.footer-content-form input::-webkit-input-placeholder {
  opacity: .3;
}

.footer-content-form input:-ms-input-placeholder {
  opacity: .3;
}

.footer-content-form input::-ms-input-placeholder {
  opacity: .3;
}

.footer-content-form input::placeholder {
  opacity: .3;
}

.footer-content-form textarea {
  padding: .5em;
  font-family: sans-serif;
  font-size: 1rem;
  height: 10em;
  border-radius: 5px;
  border: none;
}

.footer-content-form textarea::-webkit-input-placeholder {
  opacity: .3;
}

.footer-content-form textarea:-ms-input-placeholder {
  opacity: .3;
}

.footer-content-form textarea::-ms-input-placeholder {
  opacity: .3;
}

.footer-content-form textarea::placeholder {
  opacity: .3;
}

.footer-content-form .btn-search {
  background-color: #001B5B;
  border-radius: 5px;
  color: #fff;
  padding: .5em 2em;
  display: inline-block;
  border: none;
  -webkit-box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
  font-size: 1rem;
  font-weight: 200;
  cursor: pointer;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.footer-content-form .btn-search:hover {
  background-color: #fff;
  color: #001B5B;
  -webkit-box-sizing: 0px 2px 15px rgba(0, 0, 0, 0.2);
          box-sizing: 0px 2px 15px rgba(0, 0, 0, 0.2);
}

@media only screen and (max-width: 600px) {
  .footer {
    background-color: #0F3FFF;
    padding-top: 3em;
    padding-bottom: 3em;
  }
  .footer .footer-title {
    font-size: 3rem;
    color: #fff;
    font-weight: 200;
  }
  .footer img {
    width: 8em;
  }
  .footer .container {
    width: 80%;
  }
  .footer-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer-content-category-list-item {
    margin-bottom: 1em;
  }
  .footer-content-category-list a {
    color: #fff;
    font-size: 1.2rem;
    font-weight: 200;
    margin-right: 1em;
  }
  .footer-content-category {
    position: relative;
    margin-bottom: 4em;
  }
  .footer-content-category::after {
    position: absolute;
    content: "";
    height: 2px;
    width: 200%;
    background-color: #fff;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    left: 50%;
    top: 167%;
  }
  .footer-content-category::before {
    position: absolute;
    content: "";
    height: 2px;
    width: 200%;
    background-color: #fff;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    top: 110%;
  }
  .footer-content-leagel {
    margin-bottom: 4em;
  }
  .footer-content-leagel a {
    color: #fff;
    font-size: 1.2rem;
    font-weight: 200;
    margin-right: 1em;
    margin-bottom: 1em;
  }
  .footer-content-form input {
    width: 100%;
    padding: .5em;
    margin-bottom: 1em;
    font-size: 1rem;
    border-radius: 5px;
    border: none;
  }
  .footer-content-form input::-webkit-input-placeholder {
    opacity: .3;
  }
  .footer-content-form input:-ms-input-placeholder {
    opacity: .3;
  }
  .footer-content-form input::-ms-input-placeholder {
    opacity: .3;
  }
  .footer-content-form input::placeholder {
    opacity: .3;
  }
  .footer-content-form textarea {
    padding: .5em;
    font-family: sans-serif;
    font-size: 1rem;
    height: 10em;
    border-radius: 5px;
    border: none;
  }
  .footer-content-form textarea::-webkit-input-placeholder {
    opacity: .3;
  }
  .footer-content-form textarea:-ms-input-placeholder {
    opacity: .3;
  }
  .footer-content-form textarea::-ms-input-placeholder {
    opacity: .3;
  }
  .footer-content-form textarea::placeholder {
    opacity: .3;
  }
  .footer-content-form .btn-search {
    background-color: #001B5B;
    border-radius: 5px;
    color: #fff;
    padding: .5em 2em;
    display: inline-block;
    border: none;
    -webkit-box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
    font-size: 1rem;
    font-weight: 200;
    cursor: pointer;
    -webkit-transition: all .5s;
    transition: all .5s;
  }
  .footer-content-form .btn-search:hover {
    background-color: #fff;
    color: #001B5B;
    -webkit-box-sizing: 0px 2px 15px rgba(0, 0, 0, 0.2);
            box-sizing: 0px 2px 15px rgba(0, 0, 0, 0.2);
  }
  .category {
    position: relative;
    height: 3em;
    color: #fff;
  }
  .category-wrapper .wrapper {
    top: 0vh;
  }
  .category-list {
    opacity: 0;
    width: 0;
    -webkit-transition: all .5s;
    transition: all .5s;
  }
  .category:hover .category-list {
    opacity: 1;
    -webkit-transition: all .5s;
    transition: all .5s;
    padding-top: 1em;
    width: 10em;
    position: absolute;
    z-index: 22222;
    top: 1.5em;
    left: 0em;
    background-color: #0F3FFF;
    -webkit-box-shadow: 1px 0px 30px rgba(0, 0, 0, 0.2);
            box-shadow: 1px 0px 30px rgba(0, 0, 0, 0.2);
    font-size: 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
  .category:hover .category-list-item {
    position: relative;
    font-size: 2rem !important;
    text-transform: capitalize;
    margin-bottom: 1em;
    display: block;
    cursor: pointer;
    width: 10em;
    height: 2em;
    text-align: center;
    -webkit-transition: all .5s;
    transition: all .5s;
    display: -ms-grid;
    display: grid;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    align-items: center;
    justify-items: center;
  }
  .category:hover .category-list-item:hover {
    background-color: #fff;
    color: #0F3FFF;
  }
  .category-title {
    display: inline-block;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    z-index: 2222222222;
    margin-top: 1em;
    font-size: 2rem;
    font-weight: 200;
    margin-right: 0em;
  }
  .wrapper {
    overflow-y: scroll;
  }
  .wrapper .category-product {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  html {
    font-size: 70%;
  }
  .nav {
    display: none;
  }
  .mobile-nav {
    display: block;
    background-color: #0F3FFF;
    padding-top: 4em;
    padding-bottom: 2em;
  }
  .mobile-nav .nav-hidden {
    height: 100vh;
    -webkit-transition: all .5s;
    transition: all .5s;
    width: 100vw;
  }
  .mobile-nav .nav-down {
    height: 0;
    -webkit-transition: all .5s;
    transition: all .5s;
    width: 0;
    opacity: 0;
  }
  .mobile-nav .nav-down .container {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
  }
  .mobile-nav .nav-down-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    text-align: center;
  }
  .mobile-nav .nav-down-list-item {
    display: block;
    font-size: 2rem;
    margin-top: 1em;
  }
  .mobile-nav .sandwich div {
    width: 35px;
    height: 5px;
    background-color: #fff;
    margin: 6px 0;
  }
  .mobile-nav figure {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .mobile-nav figcaption {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .mobile-nav figcaption p {
    color: #fff;
    font-size: 2rem;
    margin-left: .5em;
  }
  .popAds-grid {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
  .auction-grid {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    justify-items: center;
  }
  .auction-grid-block {
    width: 70%;
  }
  .auction-grid-block-info .link {
    margin-right: 0;
  }
  .auction-grid-block-info .delete {
    margin-left: -1em;
  }
}

.form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1em;
}

.form-group label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
/*# sourceMappingURL=main.css.map */